html{
    background: linear-gradient(120deg, rgb(131, 82, 82),rgb(92, 92, 153));
    height: 1000px;
}
.leftbar{
    height: 100%; 
    width: 160px; 
    position: fixed;

    top: 0; 
    left: 0;
    background-color: rgb(49, 94, 218); 
    overflow-x: hidden; 
    padding-top: 20px;
    
}
.leftbar a{
    margin-top: 30px;
    text-decoration:none;
    font-size: 30px;
    color: #070101;
    display: block;
    padding-left: 20px;
    border-bottom: 1px solid silver ;
}
.leftbar a:hover{
    color: red;
}
.main{
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100vh;
    
    
    
}
.comments{
    right: 0;
    top: 0;
    position: fixed;
    height: auto; 
    padding-right: 10px;
    background-color:  pink;
    border-radius: 10px;
    width: auto;
    
    
}
#name{
    text-align: center;
    padding-left: 20px;
}
.end-dark{
    bottom: 0;
    position:fixed;
    background-color: blueviolet;
    width: 100%;
    left: 160px;
    padding-left: auto;
    
    
    
}
#img{
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    left: 700px;
    position:fixed;
}
#marin{
    width: 700px;
}
